:root {
    --padding-base-layout-x: 2rem;
    --color-primary: #1E6B5C;
    --color-primary-hover: #154C41;
    --color-base-text-secondary: #6C757D;
    --color-bg-primary: #F7F4EE;
    --color-bg-secondary: #FCFBF6;
    --color-bg-stats: #1B6B5A;
    --color-text-logo: #1B6B5A;
    --color-text-stats: #C3DCDA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-primary);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 5.5rem;
}

/* MENU */
.menu {
    background-color: var(--color-bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--padding-base-layout-x);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.menu__list {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style: none;
    font-size: 0.9rem;
}

.menu__list a {
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-base-text-secondary);
}

.menu__item a:hover,
.menu__item a:focus, 
.menu__item--active a {
    color: var(--color-primary);
}

.menu__logo {
    display: flex;
    align-items: center;
    color: var(--color-text-logo);
    font-size: 1.25rem;
    font-weight: 600;
}

/* BOTÃO PADRÃO */
.btn {
    font-family: var(--font-primary);
    font-size: 0.8rem; 
    font-weight: 600;
    height: 2.5rem; 
    padding: 0 1.1rem; 
    border-radius: 6px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* BOTÃO PRINCIPAL */
.btn--primary {
    background-color: var(--color-primary);
    color: #FFFFFF;
    border: 1px solid transparent;
}

.btn--primary:hover {
    background-color: var(--color-primary-hover);
}

/* BOTÃO SECUNDÁRIO */
.btn--secondary {
    background-color: transparent;
    color: var(--color-primary);
    border: 1.5px solid var(--color-primary);
}

.btn--secondary:hover {
    background-color: rgba(30, 107, 92, 0.08);
}

#hero-section {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 2rem;
}

#hero-section > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#stats-section {
    flex-shrink: 0;
}

.stats-section__list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    background-color: var(--color-bg-stats);
    padding-inline: 6.25rem;
    padding-block: 1rem;
    color: var(--color-text-stats);
    font-size: 1rem;
    font-weight: 500;
}

.stats-section__list li:not(:first-child)::before {
    content: "•";
    margin-right: 1rem;
}

footer {
    flex-shrink: 0;
    padding-block: 1rem;
    background-color: var(--color-bg-secondary);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-base-text-secondary);
}
